@model BlogWeb.Models.Entity.TBLSERTIFIKALAR
@{
    ViewBag.Title = "SertifikalarımEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}



<div class="container mt-5">

    <form class="form-group" method="post">
        <div class="row mt-5">

            <h3 class="text-center text-danger">Sertifika Ekleme</h3>

            <input type="text" class="form-control mt-2" name="SERTIFIKALARIM" placeholder="Sertifika Adı" />
            <br />

            <input type="text" class="form-control mt-2" name="KURUM" placeholder="Sertifikanın Alındığı Kurum" />
            <br />

            <input type="text" class="form-control mt-2" name="EĞİTMEN" placeholder="Eğitmen Adı ve Soyadı" />
            <br />

            <input type="text" class="form-control mt-2" name="TARİH" placeholder="Sertifikanın Alındığı Tarih" />
            <br />

            <input type="text" class="form-control mt-2" name="SÜRE" placeholder="Sertifika Süresi" />
            <br />

        </div>

        <button class="btn btn-primary mt-2" id="Btn1">Sertifika Ekle</button>
    </form>

</div>