<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>

    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,
    user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>berkayyolcu</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Admin_Panel/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;
     0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/Admin_Panel/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="~/Admin_Panel/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Admin_Panel/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Admin_Panel/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/Admin_Panel/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Admin_Panel/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/Admin_Panel/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="assets/js/config.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <script>
        initSample();
    </script>

    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/samples/js/sample.js"></script>
    <link href="~/ckeditor/samples/css/samples.css" rel="stylesheet" />
    <link href="~/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css" rel="stylesheet" />

</head>

<body>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="25"
                                 viewBox="0 0 25 42"
                                 version="1.1"
                                 xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">

                                <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                        <g id="Icon" transform="translate(27.000000, 15.000000)">
                                            <g id="Mask" transform="translate(0.000000, 8.000000)">
                                                <mask id="mask-2" fill="white">
                                                    <use xlink:href="#path-1"></use>
                                                </mask>
                                                <use fill="#696cff" xlink:href="#path-1"></use>
                                                <g id="Path-3" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-3"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                                                </g>
                                                <g id="Path-4" mask="url(#mask-2)">
                                                    <use fill="#696cff" xlink:href="#path-4"></use>
                                                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                                                </g>
                                            </g>
                                            <g id="Triangle"
                                               transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) ">
                                                <use fill="#696cff" xlink:href="#path-5"></use>
                                                <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        <span>

                            <a href="/AnaSayfa/Index/">
                                <img src="~/Admin_Panel/assets/img/by_logo2.png" style="max-width: 100%; height: auto; " />
                            </a>

                        </span>
                    </a>


                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboard -->
                    <li class="menu-item active">
                        <a href="/AnaSayfa/Index/" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>

                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Pages</span>
                    </li>

                    <!-- about -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-dock-top"></i>
                            <div data-i18n="Account Settings">Hakkımda</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Hakkımda/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Hakkımda/HakkımdaEkle/" class="menu-link">
                                    <div data-i18n="Account">Hakkımda Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- experience -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon bx bxs-briefcase-alt-2'></i>
                            <div data-i18n="Authentications">Deneyim</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Deneyim/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Deneyim/DeneyimEkle/" class="menu-link">
                                    <div data-i18n="Account">Deneyim Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- education -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bxs-school"></i>
                            <div data-i18n="Authentications">Eğitim</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Eğitim/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Eğitim/EğitimEkle/" class="menu-link">
                                    <div data-i18n="Account">Eğitim Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- skills -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-street-view"></i>
                            <div data-i18n="Authentications">Yetenekler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Yeteneklerim/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Yeteneklerim/YeteneklerimEkle/" class="menu-link">
                                    <div data-i18n="Account">Yetenek Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- interests -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-cycling"></i>
                            <div data-i18n="Authentications">Hobiler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Hobilerim/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Hobilerim/HobilerimEKle/" class="menu-link">
                                    <div data-i18n="Account">Hobi Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- projects -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bxs-pencil"></i>
                            <div data-i18n="Authentications">Projeler</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Projelerim/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Projelerim/ProjelerimEkle/" class="menu-link">
                                    <div data-i18n="Account">Proje Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- awards -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bxs-certification"></i>

                            <div data-i18n="Authentications">Sertifikalar</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/Sertifikalarım/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Sertifikalarım/SertifikalarımEkle/" class="menu-link">
                                    <div data-i18n="Account">Sertifika Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- social media -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bxs-tv"></i>
                            <div data-i18n="Account Settings">Sosyal Medya</div>
                        </a>

                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="/SosyalMedya/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/SosyalMedya/SosyalMedyaEkle/" class="menu-link">
                                    <div data-i18n="Account">Sosyal Medya Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- meta tag -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon bx bx-purchase-tag-alt'></i>
                            <div data-i18n="Authentications">Meta Tag Etiketi</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="~/Meta/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Meta/MetaEkle/" class="menu-link">
                                    <div data-i18n="Account">Meta Ekle</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- admin settings -->
                    <li class="menu-item">
                        <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class='menu-icon bx bxs-cog'></i>
                            <div data-i18n="Authentications">Ayarlar</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item">
                                <a href="~/Admin/Index/" class="menu-link">
                                    <div data-i18n="Account">Detay</div>
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="/Admin/AdminEkle/" class="menu-link">
                                    <div data-i18n="Account">Admin Ekle</div>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a href="/HakkımdaImage/Index/" class="menu-link">
                                    <div data-i18n="Account">Hakkımda Resim Güncelleme</div>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- back to site -->
                    <li class="menu-item">
                        <a href="/Default/Index/" class="menu-link">
                            <i class="menu-icon bx bx-sitemap"></i>
                            <div data-i18n="Account Settings">Siteye Dön</div>
                        </a>
                    </li>

                    <!-- communication -->
                    <li class="menu-item">
                        <a href="/iletisim/Index/" class="menu-link">
                            <i class="menu-icon bx bxs-envelope"></i>
                            <div data-i18n="Account Settings">İletisim</div>
                        </a>
                    </li>

                    <!-- log out -->
                    <li class="menu-item">
                        <a href="/Login/Logout/" class="menu-link">
                            <i class="menu-icon tf-icons bx bxs-exit"></i>
                            <div data-i18n="Account Settings">Çıkıs Yap</div>
                        </a>
                    </li>


                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->

                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       class="form-control border-0 shadow-none"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->

                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Place this tag where you want the button to render. -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">

                                @*<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                        <div class="avatar avatar-online">
                                            <img src="~/Admin_Panel/assets/img/by_logo2.png" class="w-px-40 h-auto rounded-circle" />
                                        </div>
                                    </a>*@

                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online">
                                                        <img src="~/blog_sitem/img/berkayyolcu.png" class="w-px-40 h-auto rounded-circle" />
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1">
                                                    <span class="fw-semibold d-block">Berkay Yolcu</span>
                                                    <small class="text-muted">Admin</small>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Hakkımda/Index/">
                                            <i class="bx bx-user me-2"></i>
                                            <span class="align-middle">Profilim</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Admin/Index/">
                                            <i class="bx bx-cog me-2"></i>
                                            <span class="align-middle">Admin Ayarlar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="~/login/Logout/">
                                            <i class="bx bx-power-off me-2"></i>
                                            <span class="align-middle">Cıkıs Yap</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                </nav>
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    @RenderBody()


                </div>
                <!-- / Content -->


                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>




    <script>

        function sor() {

            if (confirm("Bu İçerik Siliniyor, Onaylıyormusunuz?")) { }
            else { return false; }
        }

    </script>



    @RenderSection("Scripts", required: false)

    <script src="~/Admin_Panel/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/Admin_Panel/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/Admin_Panel/assets/vendor/js/bootstrap.js"></script>
    <script src="~/Admin_Panel/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Admin_Panel/assets/vendor/js/menu.js"></script>
    <script src="~/Admin_Panel/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/Admin_Panel/assets/js/main.js"></script>
    <script src="~/Admin_Panel/assets/js/dashboards-analytics.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>


</body>
</html>



