<div class="my-auto">

    <form method="post">

        <h2 class="mb-5">BENİMLE İLETİŞİME GEÇ</h2>

        <label>Ad ve Soyad</label>
        <input type="text" class="form-control" name="AdveSoyad" required />
        <br />

        <label>Mail</label>
        <input type="email" class="form-control" name="Mail" required />
        <br />

        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" required />
        <br />

        <label>Mesaj</label>
        <textarea class="form-control" name="Mesaj" id="exampleFormControlTextarea1" rows="3" required></textarea>
        <br />

        <button class="btn btn-success">Mesaj Gönder</button>
    </form>
</div>


