<div class="my-auto">

    <form method="post">

        <h2 class="mb-5">Benimle İletisime Geç</h2>

        <label>Ad ve Soyad</label>
        <input type="text" class="form-control" name="AdveSoyad" />

        <label>Mail</label>
        <input type="email" class="form-control" name="Mail" />

        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />

        <label>Mesaj</label>
        <br>
        <textarea class="form-control" name="Mesaj" id="exampleFormControlTextarea1" rows="3"></textarea>

        <br>
        <button class="btn btn-success">Mesaj Gönder</button>
    </form>
</div>
