@using BlogWeb.Models.Entity
@model List<TBLPROJELER>


<div class="my-auto">
    <h2 class="mb-5">Projelerim</h2>
    <ul class="fa-ul mb-0">
        @foreach (var p in Model)
        {

            <li>
                <i class="fa-li fa fa-check"></i>

                <a href="@p.LİNK">
                    <p class="mb-0 text-secondary">@p.AD</p>
                </a>

            </li>

            }
        </ul>
    </div>
