@model BlogWeb.Models.Entity.TBLSOSYALMEDYA
@{
    ViewBag.Title = "SosyalMedyaEkle";
    Layout = "~/Views/Shared/Panel.cshtml";
}


<div class="container mt-5">

    <div class="row mt-5">

        <form class="form-group" method="post">

            <h3 class="text-center text-danger">Sosyal Medya Hesabı Ekleme</h3>

            <input type="text" class="form-control mt-2" name="AD" placeholder="Sosyal Medya Adı" />
            <input type="text" class="form-control mt-2" name="LİNK" placeholder="Sosyal Medya Linki" />
            <input type="text" class="form-control mt-2" name="İKON" placeholder="İkon Kodunuz" />
            <input type="text" class="form-control mt-2" name="Durum" placeholder="True Yada False  Giriniz" />

            <button class="btn btn-primary mt-2">Hesab Ekle</button>
        </form>

    </div>

</div>